$fuente: 'Lora', 'Helvetica', 'Arial', sans-serif;
footer {
    list-style: none;
    font-size: 1rem;
    background-image: linear-gradient(#f8dade,#f1c3cd);
    padding: 50px;
    font-family: $fuente;
    color: rgb(255, 255, 255);
    margin: none;
}
.gridFooter{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

footer a {
    text-decoration: none;
    color: rgb(54, 54, 54);
}

.redesSociales {
    font-size: 1.5rem;
    text-align: center;
}
.redesSociales i {
    padding-left: 5px;
    transition: 1s;
}
.redesSociales {
    i:hover{
            color: #eb6b86;
            transform: scale(1.5);
        }
}

footer{
    h3 {
    margin-top: 20px;
    font-size: 1.2rem;
    color: rgb(54, 54, 54);
    text-align: center;
    }
}
footer{
    ul {
        li {
            font-family: $fuente;
            color: rgb(43, 44, 44);
        }
    }
    
}
.ordenFooter {
    padding: 0;
}
.link--modif{
    li{
        a:hover{
            color: #eb6b86;
        }
    }
}