/*NOSOTROS------------*/

.block-detalle {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  justify-content: space-around;
  margin: $rem;
}

//container parrafo y titulo declarados arriba
.block__parrafo--modificacion{
  margin: 0% 10%;
  text-align: center;
  font-size: 1rem;
}
.fa-heart {
  font-size: $rem * 4;
  color: $colorPrincipal;
  transition: 1s;
}

.block-d {
  background-color: $colorRecuadro;
  margin-bottom: $rem;
}
.fa-heart:hover {
  transform: rotate(360deg);
}

.block__titulo--modificacion {
  font-size: $rem * 2;
  padding: $rem;
  font-family: $fuenteEspecial;
  background-image: url(/img/eventos.png);
}
.block-grid {
  display: grid;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  width: 100%;
  background-color: $colorRecuadro;
  margin-bottom: $rem * 2;
}
.block-grid-s{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: $colorRecuadro;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.block-grid__staff__img {
  width: 40%;
  border-radius: 100%;
}

ul{
  padding: 0;
}
//arrancan las medias
@media (min-width: 1200px){
  .block-grid__staff__img {
      width: 40%;
  }
}
@media (max-width: 1024px) {
  .block-detalle {
      grid-template-columns: 25% 25% 25% 25%;
    }
}
@media (max-width: 768px) {
  .block-detalle {
      grid-template-columns: 50% 50%;
      margin: 0;
    }
  .block-grid__staff__img {
      width: 50%;
  }
  .block-grid-s{
    grid-template-columns: 90%;
  }
}
@media (max-width: 480px) {
  .block-detalle {
      grid-template-columns: 100%;
    }
    .block-grid__staff__img {
      width: 80%;
    }
}