$colorPrincipal: #ee90a4;
$colorSecundario: #613d52af;
$colorRecuadro: rgb(245, 245, 245);
$letrasHover: #fff;

$formatoBordes: #e793a8af 2px solid;

$fuentePrincipal: "Raleway", sans-serif;
$fuenteEspecial: "Dancing Script", cursive;

$rem: 1rem;
@import './header';
@import './footer';
@import './contacto';
@import './ubicacion';
@import './nosotros';
@import './fotos';
@import './img';
@import './eventos';
@import './compartido';
@import './index';


