header {
  background-color: #a1858c1e;
  padding-bottom: 10px;
  font-size: 17px;
  text-align: center;
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
}

header a img {
  width: 8%;
}

ul li a {
  color: black;
}

section a img {
  width: 8%;
}

nav ul {
  overflow: hidden;
  text-align: center;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  padding: 5px 10px;
}

nav ul li a {
  text-decoration: none;
  color: #2a2727;
}

nav ul li:hover {
  background-color: #f1c3cd;
}

footer {
  list-style: none;
  font-size: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8dade), to(#f1c3cd));
  background-image: linear-gradient(#f8dade, #f1c3cd);
  padding: 50px;
  color: white;
  margin: none;
}

.gridFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

footer a {
  text-decoration: none;
  color: #363636;
}

.redesSociales {
  font-size: 1rem;
  text-align: center;
}

.redesSociales i {
  padding-left: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.efecto-url ul li a:hover {
  color: #eb6b86;
}

.redesSociales i:hover {
  color: #eb6b86;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer h3 {
  margin-top: 20px;
  color: #363636;
  text-align: center;
}

footer ul li {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  color: #2b2c2c;
}

.ordenFooter {
  padding: 0;
}

/*contacto*/
.block {
  text-align: center;
}

.block__titulo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  margin: 0px;
}

.block__parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 4rem;
  font-size: 0.9rem;
}

.block-form__botones--modificar,
input,
.block-form__select,
.block-form__datos-textarea {
  border: #e793a8af 2px solid;
  color: #613d52af;
  padding: 0.5rem;
  font-size: 1rem;
  width: 95%;
  margin-bottom: 1rem;
}

.block-form,
.block-form__select,
.input {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.contacto input {
  opacity: 1 !important;
  position: relative !important;
}

.block-form__botones--modificar {
  width: 49%;
  height: 40px;
  display: inline-table;
}

.block-form__select {
  width: 95%;
}

.block-form,
.block-inferior {
  width: 30%;
  margin: 0px 35% 0px 35%;
  padding: 1rem;
}

.block-inferior {
  text-align: center;
  background-color: whitesmoke;
  margin-bottom: 1rem;
}

h5 {
  color: #613d52af;
}

.block__telefonos,
.block__email {
  text-decoration: none;
  list-style: none;
  padding: 0px;
}

.block__telefonos-telefono,
.block__email-email {
  line-height: 2rem;
  color: #ee90a4;
}

.input:hover {
  background-color: #ee90a4;
  color: #fff;
}

.block__telefonos-telefono:hover,
.block__email-email:hover {
  line-height: 2rem;
  color: #613d52af;
}

input:hover,
textarea:hover {
  background-color: #ee90a4;
  color: #fff;
}

.h5,
h5 {
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  .block-form, .block-inferior {
    width: 100%;
    margin: 0px;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .block-form, .block-inferior {
    width: 70%;
    margin: 0px 15% 0px 15%;
    padding: 1rem;
  }
}

@media (max-width: 1024px) {
  .block-form, .block-inferior {
    width: 50%;
    margin: 0px 25% 0px 25%;
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  .block-form, .block-inferior {
    width: 30%;
    margin: 0px 35%;
    padding: 1rem;
  }
  .block-inferior {
    margin-bottom: 2%;
  }
}

section p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.block__iframe {
  padding: 1rem;
  width: 80%;
}

a.btn.btn-primary {
  width: 50%;
}

/*comienzan las medias*/
@media (max-width: 480px) {
  a.btn.btn-primary {
    width: 80%;
  }
  .block__iframe {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 768px) {
  a.btn.btn-primary {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  a.btn.btn-primary {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  a.btn.btn-primary {
    width: 50%;
  }
}

/*NOSOTROS------------*/
.block-detalle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
}

.block__parrafo--modificacion {
  margin: 0% 10%;
  text-align: center;
  font-size: 1rem;
}

.fa-heart {
  font-size: 4rem;
  color: #ee90a4;
  -webkit-transition: 1s;
  transition: 1s;
}

.block-d {
  background-color: whitesmoke;
  margin-bottom: 1rem;
}

.fa-heart:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.block__titulo--modificacion {
  font-size: 2rem;
  padding: 1rem;
  font-family: "Dancing Script", cursive;
  background-image: url(/img/eventos.png);
}

.block-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.3333% 33.3333% 33.3333%;
      grid-template-columns: 33.3333% 33.3333% 33.3333%;
  width: 100%;
  background-color: whitesmoke;
  margin-bottom: 2rem;
}

.block-grid-s {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  background-color: whitesmoke;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.block-grid__staff__img {
  width: 40%;
  border-radius: 100%;
}

ul {
  padding: 0;
}

@media (min-width: 1200px) {
  .block-grid__staff__img {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .block-detalle {
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (max-width: 768px) {
  .block-detalle {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    margin: 0;
  }
  .block-grid__staff__img {
    width: 50%;
  }
  .block-grid-s {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
  }
}

@media (max-width: 480px) {
  .block-detalle {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .block-grid__staff__img {
    width: 80%;
  }
}

iframe {
  width: 100%;
  height: 800px;
}

.containerFotos {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  -ms-grid-columns: 33.3333% 33.33333% 33.33333%;
      grid-template-columns: 33.3333% 33.33333% 33.33333%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.containerFotos img {
  width: 100%;
}

.containerFotos--foto {
  -webkit-transition: 1s;
  transition: 1s;
}

.containerFotos img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*comienzan las medias*/
@media (max-width: 768px) {
  .containerFotos {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (max-width: 480px) {
  .breadc {
    font-size: 10px;
  }
  header section a img {
    width: 25%;
  }
  .multiple li:hover ul {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.767);
  }
  .containerFotos {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.h3, h3 {
  font-size: 1rem;
}

.imagen-seleccionada {
  text-align: center;
}

@media (max-width: 1024px) {
  .imagen-seleccionada #imagen {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .imagen-seleccionada #imagen {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .imagen-seleccionada #imagen {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .imagen-seleccionada #imagen {
    width: 50%;
  }
}

.block-eventos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  padding: 2rem;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.block-eventos__texto-descripcion {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
}

.block-eventos__imagen-propiedades {
  width: 80%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-eventos__texto {
  padding-top: 2rem;
}

.block-servicios__titulo,
.block-eventos__texto-titulo,
.block-servicios__titulo {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.block-eventos__texto-titulo {
  padding-top: 0px;
}

.block-servicios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 50%;
      grid-template-columns: 30% 50%;
  padding-bottom: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #a1858c1e;
  margin-bottom: 3rem;
}

.block-eventos__imagen-propiedades {
  width: 80%;
}

.block-eventos__imagen-propiedades:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.-modif-s {
  font-size: 34px;
}

/*---Comienzan las medias--*/
@media (min-width: 1200px) {
  section h2 {
    font-size: 2.5rem;
  }
  footer .gridFooter {
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (max-width: 1024px) {
  header section img {
    width: 15%;
  }
  .block-eventos {
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -ms-grid-rows: 12rem 12rem 12rem;
        grid-template-rows: 12rem 12rem 12rem;
    gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  footer .gridFooter {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  strong h2 {
    font-size: 2.5rem;
  }
  .block-servicios {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  header section img {
    width: 15%;
  }
  .block-servicios {
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
    margin-bottom: 3rem;
  }
  .multiple {
    display: -ms-grid;
    display: grid;
  }
  .block-servicios__titulo {
    padding-top: 0px;
  }
  .multiple li:hover ul {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.767);
  }
  strong h2 {
    font-size: 2rem;
  }
  .block-eventos__texto {
    padding-top: 0;
  }
  .block-eventos {
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -ms-grid-rows: 12rem 12rem 12rem;
        grid-template-rows: 12rem 12rem 12rem;
    gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  footer .gridFooter {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (max-width: 480px) {
  strong h2 {
    font-size: 2rem;
  }
  .block-eventos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 12rem 12rem 12rem;
        grid-template-rows: 12rem 12rem 12rem;
    gap: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  header section img {
    width: 20%;
  }
  .multiple {
    display: -ms-grid;
    display: grid;
  }
  footer .gridFooter {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .multiple li:hover ul {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.767);
  }
  section h2 {
    font-size: 2rem;
  }
  .block-servicios {
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
    margin-bottom: 3rem;
  }
}

body {
  background-color: rgba(250, 215, 248, 0.055);
  font-family: 'Raleway', sans-serif;
  overflow: auto;
  margin: 0px;
}

nav .multiple {
  width: 100%;
}

nav ul li, footer ul li {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
}

strong h2 {
  font-weight: normal;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 3rem;
  background-image: url("https://wandasscarpato.github.io/JW-Eventos/img/eventos.png");
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0px;
}

.recuadroDerecha {
  padding: 4rem;
  width: 20%;
}

li a:hover {
  color: black;
}

li a:active {
  color: white;
}

.multiple ul {
  position: absolute;
  display: none;
}

.multiple ul li {
  display: block;
}

.multiple li:hover ul {
  display: block;
  background-color: rgba(255, 255, 255, 0.767);
}

.multiple, .multipleN {
  list-style: none;
  margin: -0.6rem;
  padding: 0;
  margin-top: 0.3%;
}

ul li {
  list-style: none;
  margin: 0;
  text-align: center;
}

@media (min-width: 1200px) {
  .h3, h3 {
    font-size: 1rem;
  }
}

.breadc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  background-color: #ee90a483;
}

.bread {
  height: 10px;
}

.breadc a, .a-error {
  color: #180e10;
  text-decoration: none;
}

.a-error {
  margin-left: 2rem;
}

#imagen {
  padding: 2rem 0;
  width: 40%;
}

.block-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-error--icono {
  margin: 2rem 0;
  text-align: center;
  font-size: 3rem;
  color: #ee90a483;
  padding: 6rem 0;
}

ul li {
  list-style: none;
  margin: 0;
  text-align: center;
}

.slideBos {
  max-width: 90% !important;
  margin: 0px auto;
  margin-bottom: 1%;
}

/*secciones de eventos*/
.gridEventos {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  margin: 0% 2.5%;
  margin-bottom: 2rem;
}

.gridEventos div img {
  width: 100%;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  -webkit-transition: 1s;
  transition: 1s;
}

.gridEventos div:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  z-index: 70;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*modal*/
.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.657);
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: modal 2s;
          animation: modal 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
}

.contenido {
  margin: auto;
  width: 40%;
  height: 40%;
}

.modal img {
  width: 100%;
}

#cerrar + label {
  position: fixed;
  color: #be22cc;
  font-size: 25px;
  z-index: 50;
  text-align: center;
  border: 2px solid rgba(238, 101, 220, 0.938);
  background: #f5daf4;
  width: 4%;
  right: 0rem;
  top: 0rem;
  cursor: pointer;
  -webkit-animation: modal 4s;
          animation: modal 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
}

@-webkit-keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

#cerrar:checked + label,
#cerrar:checked ~ .modal {
  display: none;
}

input {
  opacity: 0;
  position: absolute;
}

.corp:hover {
  z-index: 2;
}

/**/
h3 {
  font-size: 1rem;
}

.containerGridCovid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.containerGridCovid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
}

.containerGridCovid2 div,
.containerGridCovid div {
  width: 100%;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

img.imgint {
  z-index: 0;
}

.intento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 5;
}

.collapse {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 2rem;
}

.txtSobreImg {
  z-index: 5;
  width: 43%;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 3.5rem;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

/*comienzan las medias*/
@media (max-width: 768px) {
  header section img {
    width: 20%;
  }
  .multiple {
    display: -ms-grid;
    display: grid;
  }
  .gridEventos {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
  }
  .gridEventos div {
    margin-bottom: 1rem;
  }
  #cerrar + label {
    width: 6%;
    right: 0rem;
    top: 0rem;
  }
  footer .gridFooter {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .multiple li:hover ul {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.767);
  }
  .txtSobreImg {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1rem;
  }
  #cerrar + label {
    width: 3%;
    right: 0rem;
    top: 0rem;
  }
}

@media (max-width: 1024px) {
  header section img {
    width: 15%;
  }
  #cerrar + label {
    width: 5%;
  }
  footer .gridFooter {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  header section img {
    width: 30%;
  }
  .multiple {
    display: -ms-grid;
    display: grid;
  }
  .gridEventos {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
  }
  .gridEventos div {
    margin-bottom: 1rem;
  }
  .slider img {
    height: 250px;
  }
  footer .gridFooter {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .multiple li:hover ul {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.767);
  }
  #cerrar + label {
    width: 9%;
    right: 0rem;
    top: 0rem;
  }
  .modal img {
    width: 175%;
    margin: -3.5rem;
  }
  .txtSobreImg {
    width: 80%;
  }
}
/*# sourceMappingURL=estilo.css.map */